@import '../../../assets/styles/variables.scss';

.btn {
    margin-top: 28px;
    width: 220px;
    height: 61px;
    border-radius: 7px;
    border: 1px solid $text-second-color;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $text-second-color;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      border-color: $active-color;
      color: $active-color;
      svg,path {
        fill: $active-color;
      }
    }
    svg {
      margin-left: 10px;
    }
  }