.searchResult {
    height: 100px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    color: #000;
    text-decoration: none;
    img {
      object-fit: cover;
      width: 90px;
      height: 100px;
    }
    .btn {
      font-size: 18px;
      border: none;
      outline: none;
      width: 150px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      background-color: #000;
      color: #fff;
      position: relative;
      cursor: pointer;
      &:after {
        content: "" !important;
        position: absolute !important;
        top: 0 !important;
        left: -200%;
        width: 200% !important;
        height: 100% !important;
        -ms-transform: skewX(-20deg) !important;
        transform: skewX(-20deg) !important;
        pointer-events: none;
        background-image: linear-gradient(
          to right,
          transparent,
          rgba(255, 255, 255, 0.3),
          transparent
        ) !important;
      }
      &:hover::after {
        animation: shine 1.6s ease;
      }
      margin-left: auto;
      margin-right: 40px;
    }
  }