@import "../../../../assets/styles/variables.scss";

.catalog {
  min-height: 650px;
  padding-top: 60px;
  background-color: #fff;
}

.title {
  color: $nav-color;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px; /* 100% */
  text-align: center;
  margin-bottom: 60px;
}

.slider {
  width: 100%;
}

.sliderItem {
  width: 212px;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
    .bookTitle {
      color: $active-color;
    }
  }
  .img {
    margin-bottom: 14px;
    width: 212px;
    height: 212px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #f0ebd5;
    overflow: hidden;
    img {
      width: 120px;
      height: 183px;
    }
  }

  .bookTitle {
    color: $nav-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    padding-right: 20px;
  }
}

@media (max-width: 1340px) {

}

@media (max-width: 1170px) {

}
@media (max-width: 991px) {

}
@media (max-width: 768px) {
  .sliderItem {
    margin: 0 auto;
    text-align: center;
    .img {
      margin: 0 auto;
    }
    .bookTitle{
      padding: 0;
      text-align: center;
      margin-top: 10px;
    }
  }

}
@media (max-width: 568px) {

}