@import "../../../assets/styles/variables.scss";

.ebook {
  min-height: 553px;
  background: linear-gradient(94deg, #fcecec 1.85%, #f6fffe 64.13%);
  display: flex;

  .info {
    width: 55%;
    height: 553px;

    .container {
      height: 100%;
      margin-left: auto;
      width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        color: #ed553b;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.4px;
        padding-left: 45px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 33px;
          height: 2px;
          background-color: $active-color;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      h2 {
        color: $menu-text-color;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.9px;
      }
      p {
        color: $text-color;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
        margin-bottom: 34px;
      }

      label {
        width: 600px;
        height: 60px;
        position: relative;
        border-radius: 10px;
        input {
          width: 600px;
          height: 100%;
          padding: 21px 165px 21px 20px;
          border: none;
          outline: none;
          border-radius: 10px;
          color: $text-color;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.68px;
          text-transform: capitalize;
          border: 1px solid transparent;
          &:focus {
            outline: none;
            border: none;
            border: 1px solid $place-holder-color;
          }
          &::placeholder {
            color: $place-holder-color;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 1.68px;
            text-transform: capitalize;
          }
        }
        button {
          position: absolute;
          width: 153px;
          height: 60px;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.2px;
          border: none;
          outline: none;
          background-color: $active-color;
          border-radius: 10px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          cursor: pointer;
        }
      }
    }
  }

  .image {
    width: 45%;
    height: 553px;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
  }
}
