@import "../../../assets//styles/variables.scss";

.information {
  min-height: 150px;
  background-color: #111;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
}

.item {
  width: 322px;
  height: 72px;
  display: flex;
  align-items: center;
  img {
    width: 48px;
    height: 48px;
    margin-right: 25px;
  }

  h3 {
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  h4 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
  }
}


@media (max-width: 1340px) {

}

@media (max-width: 1170px) {

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-max(100px, auto));
    grid-auto-rows: min-max(100px, auto);
    .item {
      align-items: center;
      width: 250px;
      margin: 0 auto;
    }
    img {
      margin-right: 0;
    }
    h3,h4 {
      margin-left: 30px;
    }
  }

}
@media (max-width: 991px) {

}
@media (max-width: 768px) {

}
@media (max-width: 568px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-max(100px, auto));
    row-gap: 20px;
  }
}