@import "../../../../assets/styles/variables.scss";

.welcome {
  min-height: 700px;
  background: url(../../../../assets//images//HERO-FULL.png) center (center/cover)
    no-repeat;
}

.wrapper {
  height: 700px;
  display: flex;
}

.infoContainer {
  width: 570px;
  margin-left: auto;
}

.info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    color: $text-color;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 14px;
  }
  h1 {
    color: $menu-text-color;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 120% */
    margin-bottom: 41px;
  }
  p {
    color: $menu-text-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
  }
}

.bookSlider {
  width: 50%;
  padding-top: 50px;
  img {
    margin-left: auto;
    display: block;
    width: 493px;
    height: 592px;
    object-fit: contain;
  }
}

.btn {
  button {
    color: #fff;
    border-color: #fff;
    svg, path {
      fill: #fff;
    }
  }
}

@media (max-width: 1340px) {
  .info {
    h1 {
      font-size: 45px;
    }
    p {
      width: 80%;
    }
  }

  .bookSlider {
    padding-top: 100px;
    img {
      width: 370px;
      height: 450px;
    }
  }

}
@media (max-width: 1170px) {
  .bookSlider {
    display: none;
  }

  .info {
    width: 100%;
    justify-content: center;
    align-items: center;
    .infoContainer {
      margin: 0;
      width: 100%;
    }
    h1 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
    p {
      text-align: center;
      width: 100%;
    }
    button {
      margin: 0 auto;
      margin-top: 30px;
    }
  }

  .wrapper, .welcome {
    height: 500px;
    min-height: 500px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .wrapper {
    padding: 40px 10px;
  }
  .info {
    h1 {
      line-height: 38px;
      font-size: 34px;
    }
  }
}
@media (max-width: 568px) {

}