@import "../../../../assets/styles/variables.scss";

.sale {
  min-height: 475px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 453px;
  height: 320px;
  &:first-child {
    background: linear-gradient(63deg, #db2d31 -0.53%, #8c0003 92.11%);
  }
  &:nth-child(2) {
    background: linear-gradient(63deg, #74ad52 -0.53%, #2d6f06 92.11%);
  }
  &:last-child {
    background: linear-gradient(63deg, #153e76 -0.53%, #001b41 92.11%);
  }

  img {
    width: 173px;
    height: 269px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
  }

  h5 {
    color: $text-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    margin-bottom: 6px;
  }
  h3 {
    color: $text-color;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px; /* 100% */
    margin-bottom: 40px;
    width: 178px;
  }
  button {
    border: none;
    outline: none;
    background: rgba(17, 17, 17, 0.3);
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px; /* 100% */
    cursor: pointer;
    &:hover {
        border: none;
        outline: none;
    }
  }
}


@media (max-width: 1510px) {
  .item {
    width: 32%;
    height: 340px;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 5px;
    img {
      width: 180px;
    }
    h3 {
      width: 150px;
      font-size: 28px;
    }
  }
}

@media (max-width: 1340px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item {
    width: 453px;
    height: 340px;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
}

@media (max-width: 1170px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 568px) {

  .item {
    width: 90%;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    height: auto;
    h5 {
      margin-bottom: 20px;
      font-size: 16px;
    }
    h3 {
      font-size: 38px;
      margin-bottom: 20px;
    }
    button {
      margin-bottom: 20px;
    }
    h3 {
      width: auto;
    }
    button {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}