$active-color: #ED553B;
$title-color: #393280;
$menu-color: #D1D1D1;
$text-color: rgba(57, 50, 128, 0.70);
$alt-sub-title-color: #7A7A7A;
$blog-color: #fff;
$card-sub-title-color: #888;
$place-holder-color: #BCBCBC;
$footer-menu-color: #263238;
$news-date-color: #F6D55C;
$menu-text-color: #173F5F;