$second-color: rgb(85, 18, 124);
$second-dark-color: #1D3A8B;
$title-color: #393280;
$menu-color: #D1D1D1;
$alt-sub-title-color: #7A7A7A;
$blog-color: #fff;
$card-sub-title-color: #888;
$place-holder-color: #BCBCBC;
$footer-menu-color: #263238;
$news-date-color: #F6D55C;
$menu-text-color: #fff;

$text-color: #fff;
$text-second-color: #000;
$active-color: #F1592B;
$nav-color: #111111;
$nav-second-color: #FFFFFF;