@import "../../../../assets/styles/variables.scss";

.release {
  min-height: 590px;
  padding: 92px 0;
  border-bottom: 3px solid #e0e0e0;
}

.title {
  color: $nav-color;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.874px;
  margin-bottom: 46px;
}

.item {
  width: 205px !important;
  height: 340px;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 140px;
    height: 211px;
    object-fit: cover;
  }

  h3 {
    margin-top: 10px;
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }

  p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
  }

  .price {
    color: $active-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
  }
}

@media (max-width: 1340px) {

}

@media (max-width: 1170px) {

}
@media (max-width: 991px) {

}
@media (max-width: 768px) {
  .item {
    margin: 0 auto;
  }
  .release {
    padding: 40px 10px 0 10px;
  }

}
@media (max-width: 568px) {

}