@import "../../../assets/styles/variables.scss";

.nav {
  min-height: 40px;
  background-color: $nav-color;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
}

.sellBlock {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  a {
    color: $text-color;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  color: $text-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  a {
    color: $text-color;
    text-decoration: none;
  }

  .wishlist, .about, .help {
    cursor: pointer;
  }
}

.slider {
  width: 454px;
  .sliderItem {
    position: relative;
    color: $text-color;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    padding-bottom: 6px;
    cursor: pointer;
    &::before {
      position: absolute;
      content: url(../.././../assets/images/off.svg);
      left: 27px;
      top: 40%;
      transform: translateY(-50%);
    }
  }
}

.searchLabel {
  display: block;
  position: relative;
  width: 617px;
  height: 30px;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.searchBtn {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    border: none;
    outline: none;
  }
}

.login h3 {
  cursor: pointer;
}

.login {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account,
.cart {
  width: 100px;
  text-align: left;
  position: relative;
  color: $menu-text-color;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: $active-color;
    &::before {
      svg,
      path {
        fill: $active-color;
      }
    }
  }
}

.account::before {
  position: absolute;
  content: url(../../../assets/images/user.svg);
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
}

.cart::before {
  position: absolute;
  content: url(../../../assets/images/cart.svg);
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
}

@media (max-width: 1340px) {
  .sellBlock {
    width: 270px;
  }
  .infoBlock {
    width: 200px;
  }

  .wrapper {
    justify-content: space-around;
  }
}
@media (max-width: 1170px) {
  .slider {
    display: none !important;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 568px) {
  .nav {
    display: none;
  }
}
